pkgbase = keepassxc
	pkgdesc = Cross-platform community-driven port of Keepass password manager
	pkgver = 2.7.12
	pkgrel = 1
	url = https://keepassxc.org/
	arch = x86_64
	license = GPL-2.0-only OR GPL-3.0-only OR LGPL-2.1-only
	makedepends = asciidoctor
	makedepends = cmake
	makedepends = qt5-tools
	depends = argon2
	depends = botan
	depends = hicolor-icon-theme
	depends = qt5-x11extras
	depends = minizip
	depends = qrencode
	depends = qt5-svg
	optdepends = xclip: keepassxc-cli clipboard support under X server
	optdepends = wl-clipboard: keepassxc-cli clipboard support under Wayland
	provides = org.freedesktop.secrets
	options = !debug
	source = git+https://github.com/keepassxreboot/keepassxc.git#tag=2.7.12?signed
	validpgpkeys = BF5A669F2272CF4324C1FDA8CFB4C2166397D0D2
	validpgpkeys = 71D4673D73C7F83C17DAE6A2D8538E98A26FD9C4
	validpgpkeys = AF0AEA44ABAC8F1047733EA7AFF235EEFB5A2517
	validpgpkeys = C1E4CBA3AD78D3AFD894F9E0B7A66F03B59076A8
	sha256sums = 7cfbeb0f0c732b07b99d04a27894c0dbf290192ad1363e3b35475b11b1f456e8

pkgname = keepassxc
